*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  font-size: 81.25%;
}
.navbar{
  position:fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  display: flex;
  justify-content:left;
  align-items: center;
  height: 55px;
  padding: 20px;
  border:none;
  background-color: white;
  box-shadow: 0px 0px 10px  #707273;
}
nav .navbar h1{
  margin-right: 20px;
  font-size: 22px;
  font-weight: 500;
}
.search-bar{
  display: flex;
  justify-content:left;
  align-items: center;
  background-color: rgba(241, 243, 244,1);
  padding: 15px;
  height: 40px;
  color: #707273;
  border-radius: 50px;
  width:680px;
  margin-left: 230px;
}
.chrome-image{
  width: 28px;
  margin-right: 20px;
}

.search-icon{
  width: 18px;
  opacity: .5;
  margin-right: 16px;
}

main{
  margin-top: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #525353;
}

.card{
  height: 140px;
  width:680px;  
  box-shadow: 0px 0px 3px  #707273;
  border-radius: 8px; 
  display: flex;
   font-size: 15px;
   margin-bottom: 20px;
  
}
.card1{
  width:680px;  
  border-radius: 8px; 
  display: flex;
   font-size: 15px;
   margin-bottom: 20px;
}
.card1 p{
  justify-content: flex-start;
}
.day{
  display: flex;
  margin: 10px;
  font-size: 15px;
}

.day p{
  align-self: flex-start;
}
.card-body{
  padding: 10px;
  border-left: 1px solid #cecfd0;
  width: 600px;
}
.card-body p{
  padding:10px 0px 30px 0px; 
  margin: 0;
    color: #707273;
}
.card .image{
  width: 80px;
  padding: 10px;
  display: flex;
}

.card .x{
  font-size: 20px;
  padding: 10px;
  align-self:self-start;
  padding-right: 20px;
}